special-software-topics/1-bim/trabalho-1/FLOW_CAMARA_FRIA.txt
[{"id":"e8799882.f50aa8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"53c4ee8e.6a1e2","type":"ui_gauge","z":"e8799882.f50aa8","name":"","group":"8b8b412f.d4fd5","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura Sensor","label":"Graus","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"18","seg2":"75","x":540,"y":360,"wires":[]},{"id":"e40347e3.959ea8","type":"ui_text","z":"e8799882.f50aa8","group":"8b8b412f.d4fd5","order":2,"width":0,"height":0,"name":"Temperatura","label":"Temperatura","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":300,"wires":[]},{"id":"ad795635.cfcfa8","type":"firebase modify","z":"e8799882.f50aa8","name":"txt_temperatura","firebaseconfig":"","childpath":"/temperatura","method":"set","value":"msg.payload","priority":"msg.priority","x":520,"y":180,"wires":[[]]},{"id":"bee6fbef.7ab658","type":"function","z":"e8799882.f50aa8","name":"","func":"var vtemperatura;\nglobal.set(\"vtemperatura\", msg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":240,"wires":[[]]},{"id":"e289dfe2.4a6dd","type":"switch","z":"e8799882.f50aa8","name":"sw_temp","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"18","vt":"str"},{"t":"lte","v":"18","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":660,"wires":[["5eaa4406.2bf1bc","f2328c26.82584","379defc5.feba8","46787dc8.1b95f4","e20b2477.1736b8"],["1f919077.4d1e7","fcbf0c17.2fe52","122e3ae8.d2cb15"]]},{"id":"5eaa4406.2bf1bc","type":"change","z":"e8799882.f50aa8","name":"desliga LED","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":460,"wires":[["49fb969f.197238","ae06491c.3db1f8"]]},{"id":"fcbf0c17.2fe52","type":"change","z":"e8799882.f50aa8","name":"desliga LED","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":600,"wires":[["5d04a537.41b78c","82086ddd.4a9e"]]},{"id":"379defc5.feba8","type":"change","z":"e8799882.f50aa8","d":true,"name":"liga LED","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":660,"wires":[["5d04a537.41b78c","82086ddd.4a9e"]]},{"id":"f2328c26.82584","type":"change","z":"e8799882.f50aa8","name":"desliga LED","rules":[{"t":"set","p":"payload","pt":"msg","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":760,"wires":[["d63b6477.59e278","b7e712fc.e31d2","430caa90.bd0714"]]},{"id":"1f919077.4d1e7","type":"change","z":"e8799882.f50aa8","name":"liga LED","rules":[{"t":"set","p":"payload","pt":"msg","to":"LIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":820,"wires":[["d63b6477.59e278","b7e712fc.e31d2","430caa90.bd0714"]]},{"id":"d63b6477.59e278","type":"firebase modify","z":"e8799882.f50aa8","name":"led1","firebaseconfig":"","childpath":"/led1","method":"set","value":"msg.payload","priority":"msg.priority","x":810,"y":740,"wires":[[]]},{"id":"b7e712fc.e31d2","type":"function","z":"e8799882.f50aa8","name":"","func":"var vled1;\nglobal.set(\"vled1\", msg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":800,"wires":[[]]},{"id":"122e3ae8.d2cb15","type":"change","z":"e8799882.f50aa8","name":"desliga LED","rules":[{"t":"set","p":"payload","pt":"msg","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":940,"wires":[["8924dfbb.5c406","37c057f2.0163a8","9086c394.0ed6d"]]},{"id":"46787dc8.1b95f4","type":"change","z":"e8799882.f50aa8","name":"liga LED","rules":[{"t":"set","p":"payload","pt":"msg","to":"LIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1000,"wires":[["8924dfbb.5c406","37c057f2.0163a8","9086c394.0ed6d"]]},{"id":"8924dfbb.5c406","type":"firebase modify","z":"e8799882.f50aa8","name":"led2","firebaseconfig":"","childpath":"/led2","method":"set","value":"msg.payload","priority":"msg.priority","x":810,"y":920,"wires":[[]]},{"id":"37c057f2.0163a8","type":"function","z":"e8799882.f50aa8","name":"","func":"var vled2;\nglobal.set(\"vled2\", msg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":980,"wires":[[]]},{"id":"8302307c.4acc6","type":"ui_button","z":"e8799882.f50aa8","name":"","group":"8b8b412f.d4fd5","order":5,"width":"3","height":"1","passthru":false,"label":"LIGA","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":130,"y":1140,"wires":[["f67907c2.a78778"]]},{"id":"94343c42.57ced","type":"ui_button","z":"e8799882.f50aa8","name":"","group":"8b8b412f.d4fd5","order":6,"width":"3","height":"1","passthru":false,"label":"DESLIGA","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":140,"y":1200,"wires":[["f67907c2.a78778"]]},{"id":"f67907c2.a78778","type":"switch","z":"e8799882.f50aa8","name":"SW","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":1160,"wires":[["b94a4db6.5544"],["af1d13c0.addef"]]},{"id":"b94a4db6.5544","type":"change","z":"e8799882.f50aa8","name":"L","rules":[{"t":"set","p":"payload","pt":"msg","to":"LIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1140,"wires":[["c01b13ac.d872a","cc93702a.f1e43"]]},{"id":"af1d13c0.addef","type":"change","z":"e8799882.f50aa8","name":"D","rules":[{"t":"set","p":"payload","pt":"msg","to":"DESLIGADO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1200,"wires":[["c01b13ac.d872a","cc93702a.f1e43"]]},{"id":"c01b13ac.d872a","type":"firebase modify","z":"e8799882.f50aa8","name":"txt_lampada_out","firebaseconfig":"","childpath":"/lampada","method":"set","value":"msg.payload","priority":"msg.priority","x":790,"y":1200,"wires":[[]]},{"id":"2dcfda86.660ad6","type":"function","z":"e8799882.f50aa8","name":"","func":"msg.payload = msg.payload.replace(/^[\" ](.?)[\" ]*$/g, '$1');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1340,"wires":[["aae8d4db.1d4818","65005d12.44c554"]]},{"id":"65005d12.44c554","type":"ui_text","z":"e8799882.f50aa8","group":"8b8b412f.d4fd5","order":7,"width":0,"height":0,"name":"STATUS","label":"LAMPADA","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":1300,"wires":[]},{"id":"17908916.03ff17","type":"function","z":"e8799882.f50aa8","name":"","func":"console.log(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1500,"wires":[["1ed603e5.c65f5c","fb346629.7856c8"]]},{"id":"fb346629.7856c8","type":"http request","z":"e8799882.f50aa8","name":"http","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://docs.google.com/forms/d/e/1FAIpQLScdjopBweUGkyxeEdw8Bj2fLVv4GMAPhZTB0_LJcOGzSwkaLA/formResponse?usp=pp_url&entry.517446793={{payload.led1}}&entry.1089453193={{payload.led2}}&entry.970047959={{payload.temperatura}}&entry.280815936={{payload.lampada}}","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":1460,"wires":[[]]},{"id":"1ed603e5.c65f5c","type":"debug","z":"e8799882.f50aa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":1520,"wires":[]},{"id":"b65606a7.b1cd28","type":"inject","z":"e8799882.f50aa8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2400","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":170,"y":1640,"wires":[["7c8d15f.89380ec"]]},{"id":"7c8d15f.89380ec","type":"function","z":"e8799882.f50aa8","name":"","func":"var g_led1 = global.get(\"vled1\");\nvar g_led2 = global.get(\"vled2\");\nvar g_lamp = global.get(\"vled3\");\nvar g_sensor = global.get(\"vtemperatura\");\n\nmsg = {};\nmsg = {\n    payload:\n        \"Status AMBIENTE:\\n\\n\" +\n        \"Status LED VERDE: \" + g_led1.payload + \"\\n\\n\" +\n        \"Status LED VERMELHA: \" + g_led2.payload + \"\\n\\n\" +\n        \"Status LAMPADA: \" + g_lamp.payload + \"\\n\\n\" +\n        \"Status Temperatura: \" + parseInt(g_sensor.payload) + \"C\",\n    topic: \"Status AMBIENTE - \" + Date().toString()\n}\n\nconsole.log(msg);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":1640,"wires":[["4a3c9439.9d1ecc"]]},{"id":"2f8e7ee1.59be92","type":"firebase.on","z":"e8799882.f50aa8","name":"txt_lampada_in","firebaseconfig":"","childpath":"/lampada","atStart":true,"eventType":"value","queries":[],"x":160,"y":1340,"wires":[["2dcfda86.660ad6"]]},{"id":"79c16c53.f0c6f4","type":"firebase.on","z":"e8799882.f50aa8","name":"txt","firebaseconfig":"","childpath":"","atStart":true,"eventType":"value","queries":[],"x":130,"y":1500,"wires":[["17908916.03ff17"]]},{"id":"aae8d4db.1d4818","type":"switch","z":"e8799882.f50aa8","name":"SW_lampada","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"LIGADO","vt":"str"},{"t":"eq","v":"DESLIGADO","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":1360,"wires":[["28202c1f.c98044"],["f8cc97e.75faf68"]]},{"id":"28202c1f.c98044","type":"change","z":"e8799882.f50aa8","name":"L","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1320,"wires":[["1a786570.48233b","4125a290.82a85c"]]},{"id":"4a3c9439.9d1ecc","type":"e-mail","z":"e8799882.f50aa8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"matheuslstella11@gmail.com","dname":"envia_email","x":570,"y":1640,"wires":[]},{"id":"49fb969f.197238","type":"serial out","z":"e8799882.f50aa8","name":"","serial":"dc2cf2.2c34c31","x":730,"y":520,"wires":[]},{"id":"5d04a537.41b78c","type":"serial out","z":"e8799882.f50aa8","name":"","serial":"dc2cf2.2c34c31","x":730,"y":660,"wires":[]},{"id":"1a786570.48233b","type":"serial out","z":"e8799882.f50aa8","name":"","serial":"1ef7dd9f.605b72","x":850,"y":1380,"wires":[]},{"id":"513ab361.53040c","type":"debug","z":"e8799882.f50aa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"ae06491c.3db1f8","type":"debug","z":"e8799882.f50aa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":460,"wires":[]},{"id":"4125a290.82a85c","type":"debug","z":"e8799882.f50aa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":1320,"wires":[]},{"id":"82086ddd.4a9e","type":"debug","z":"e8799882.f50aa8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":600,"wires":[]},{"id":"1aeeb9cf.ac0d26","type":"serial in","z":"e8799882.f50aa8","name":"","serial":"dc2cf2.2c34c31","x":130,"y":220,"wires":[["ad795635.cfcfa8","513ab361.53040c","bee6fbef.7ab658","e40347e3.959ea8","53c4ee8e.6a1e2","e289dfe2.4a6dd"]]},{"id":"f8cc97e.75faf68","type":"change","z":"e8799882.f50aa8","name":"D","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1380,"wires":[["1a786570.48233b","4125a290.82a85c"]]},{"id":"9086c394.0ed6d","type":"ui_text","z":"e8799882.f50aa8","group":"8b8b412f.d4fd5","order":4,"width":0,"height":0,"name":"LED VERMELHA","label":"LED VERMELHA","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":1040,"wires":[]},{"id":"430caa90.bd0714","type":"ui_text","z":"e8799882.f50aa8","group":"8b8b412f.d4fd5","order":3,"width":0,"height":0,"name":"LED VERDE","label":"LED VERDE","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":860,"wires":[]},{"id":"cc93702a.f1e43","type":"function","z":"e8799882.f50aa8","name":"","func":"var vled3;\nglobal.set(\"vled3\", msg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1140,"wires":[[]]},{"id":"e20b2477.1736b8","type":"change","z":"e8799882.f50aa8","d":true,"name":"liga LED","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":520,"wires":[["ae06491c.3db1f8","49fb969f.197238"]]},{"id":"8b8b412f.d4fd5","type":"ui_group","z":"","name":"Padrao","tab":"536166c7.3c6758","order":1,"disp":true,"width":"6","collapse":false},{"id":"dc2cf2.2c34c31","type":"serial-port","z":"","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"200"},{"id":"1ef7dd9f.605b72","type":"serial-port","z":"","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"536166c7.3c6758","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]